
@{
    ViewData["Title"] = "AccountIndex";
    string username = (string)ViewData["Msg3"];
    string email = (string)ViewData["Msg4"];
    string pwd = (string)ViewData["Msg5"];
    string gender = (string)ViewData["Msg6"];
    int age = (int)ViewData["Msg7"];
    int phone = (int)ViewData["Msg8"];

}

<h1>AccountIndex</h1>
<h2>@username</h2>
<h3>@email</h3>
<h3>@pwd</h3>
<h3>@gender</h3>
<h3>@age</h3>
<h3>@phone</h3>

